# Database Configuration
DATABASE_URL=
CMS_DB_PASSWORD=

# S3-Compatible Object Storage Configuration
CMS_STORAGE_ENDPOINT=
CMS_STORAGE_BUCKET=
CMS_STORAGE_ACCESS_KEY=
CMS_STORAGE_SECRET_KEY=
CMS_STORAGE_REGION=
CMS_STORAGE_ADMIN_PASSWORD=

# Git/Build Configuration
CMS_GIT_SHA=
CMS_EDGE_NETWORK=
